In [1]:
print("hello world");

hello world

In [2]:
msg="Hello World"
print(msg)

Hello World

In [3]:
firstname="yash"
lastname="wanth"
fullname=firstname+''+lastname;
print(fullname)

yashwanth

In [4]:
a=int(input("Enter the value of a:"));
b=int(input("Enter the value of b:"));
c=a+b;
print("The value is",c)

Enter the value of a:3
Enter the value of b:4
The value is 7

#    Lists

In [5]:
list1=[1,"YASH","goman"]
print(list1[0])
print(list1[2])
print(list1[-2])
print(list1[-1])

1
goman
YASH
goman

In [6]:
list2=["hai","bye","go","man","tell","please","no"]
print(list2)

['hai', 'bye', 'go', 'man', 'tell', 'please', 'no']

In [7]:
bikes=[];
bikes.append('trek');
bikes.append('redline');
bikes.append('gaint');
print(bikes)

['trek', 'redline', 'gaint']

# Loops in List

In [8]:
list1

[1, 'YASH', 'goman']

In [9]:
for lista in list1:
    print(lista)

1
YASH
goman

In [10]:
a=15;
b=4;
print('a+b=',a+b);
print('a-b=',a-b);
print('a/b=',a/b);
print('a//b=',a//b);
print('a**b=',a**b);

a+b= 19
a-b= 11
a/b= 3.75
a//b= 3
a**b= 50625

In [11]:
a=15;
b=4;
print('a<b =',a<b);
print('a>b =',a>b);
print('a==b =',a==b);
print('a<=b =',a<=b);
print('a>=b =',a>=b);

a<b = False
a>b = True
a==b = False
a<=b = False
a>=b = True

# Print numbers upto 10 and also from reverse order

In [17]:
for i in range(1,10,1): #1=start value,10=end value,1=decrement
    print(i)

1
2
3
4
5
6
7
8
9

In [27]:
for i in range(10,1,-1): #10=start value,1=end value,-1=decrement
    print(i)

10
9
8
7
6
5
4
3
2

In [29]:
squares=[]
for x in range(1,10):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Slicing

In [33]:
a=['1','2','3','4','5','6'];
b=a[:4];
print(b)

['1', '2', '3', '4']